<a href="https://colab.research.google.com/github/pratima-ss/Python/blob/main/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [2]:
url = 'https://raw.githubusercontent.com/pratima-ss/Python/main/data_for_heart_disease_prediction.csv'
heart_data = pd.read_csv(url)
print (heart_data.head(5))

   age     sex chest_pain_type  resting_blood_pressure  cholestoral  \
0   52    Male  Typical angina                     125          212
1   53    Male  Typical angina                     140          203
2   70    Male  Typical angina                     145          174
3   61    Male  Typical angina                     148          203
4   62  Female  Typical angina                     138          294

      fasting_blood_sugar               rest_ecg  Max_heart_rate  \
0    Lower than 120 mg/ml  ST-T wave abnormality             168
1  Greater than 120 mg/ml                 Normal             155
2    Lower than 120 mg/ml  ST-T wave abnormality             125
3    Lower than 120 mg/ml  ST-T wave abnormality             161
4  Greater than 120 mg/ml  ST-T wave abnormality             106

  exercise_induced_angina  oldpeak        slope vessels_colored_by_flourosopy  \
0                      No      1.0  Downsloping                           Two
1                     Yes      3.1    Upsloping                          Zero
2                     Yes      2.6    Upsloping                          Zero
3                      No      0.0  Downsloping                           One
4                      No      1.9         Flat                         Three

         thalassemia  target
0  Reversable Defect       0
1  Reversable Defect       0
2  Reversable Defect       0
3  Reversable Defect       0
4       Fixed Defect       0

In [3]:
heart_data.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
0,52,Male,Typical angina,125,212,Lower than 120 mg/ml,ST-T wave abnormality,168,No,1.0,Downsloping,Two,Reversable Defect,0
1,53,Male,Typical angina,140,203,Greater than 120 mg/ml,Normal,155,Yes,3.1,Upsloping,Zero,Reversable Defect,0
2,70,Male,Typical angina,145,174,Lower than 120 mg/ml,ST-T wave abnormality,125,Yes,2.6,Upsloping,Zero,Reversable Defect,0
3,61,Male,Typical angina,148,203,Lower than 120 mg/ml,ST-T wave abnormality,161,No,0.0,Downsloping,One,Reversable Defect,0
4,62,Female,Typical angina,138,294,Greater than 120 mg/ml,ST-T wave abnormality,106,No,1.9,Flat,Three,Fixed Defect,0

In [4]:
heart_data.tail()

,age,sex,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target
1020,59,Male,Atypical angina,140,221,Lower than 120 mg/ml,ST-T wave abnormality,164,Yes,0.0,Downsloping,Zero,Fixed Defect,1
1021,60,Male,Typical angina,125,258,Lower than 120 mg/ml,Normal,141,Yes,2.8,Flat,One,Reversable Defect,0
1022,47,Male,Typical angina,110,275,Lower than 120 mg/ml,Normal,118,Yes,1.0,Flat,One,Fixed Defect,0
1023,50,Female,Typical angina,110,254,Lower than 120 mg/ml,Normal,159,No,0.0,Downsloping,Zero,Fixed Defect,1
1024,54,Male,Typical angina,120,188,Lower than 120 mg/ml,ST-T wave abnormality,113,No,1.4,Flat,One,Reversable Defect,0

In [5]:
a = pd.get_dummies(heart_data, columns = ['sex'])
label_encoder = preprocessing.LabelEncoder()
one_hot_encoded_data=a

In [6]:

one_hot_encoded_data['fasting_blood_sugar']= label_encoder.fit_transform(one_hot_encoded_data['fasting_blood_sugar'])
one_hot_encoded_data['rest_ecg']= label_encoder.fit_transform(one_hot_encoded_data['rest_ecg'])
one_hot_encoded_data['exercise_induced_angina']= label_encoder.fit_transform(one_hot_encoded_data['exercise_induced_angina'])
one_hot_encoded_data['slope']= label_encoder.fit_transform(one_hot_encoded_data['slope'])
one_hot_encoded_data['vessels_colored_by_flourosopy']= label_encoder.fit_transform(one_hot_encoded_data['vessels_colored_by_flourosopy'])
one_hot_encoded_data['thalassemia']= label_encoder.fit_transform(one_hot_encoded_data['thalassemia'])
one_hot_encoded_data['chest_pain_type']= label_encoder.fit_transform(one_hot_encoded_data['chest_pain_type'])

In [7]:
one_hot_encoded_data.shape

(1025, 15)

In [8]:
one_hot_encoded_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            1025 non-null   int64
 1   chest_pain_type                1025 non-null   int64
 2   resting_blood_pressure         1025 non-null   int64
 3   cholestoral                    1025 non-null   int64
 4   fasting_blood_sugar            1025 non-null   int64
 5   rest_ecg                       1025 non-null   int64
 6   Max_heart_rate                 1025 non-null   int64
 7   exercise_induced_angina        1025 non-null   int64
 8   oldpeak                        1025 non-null   float64
 9   slope                          1025 non-null   int64
 10  vessels_colored_by_flourosopy  1025 non-null   int64
 11  thalassemia                    1025 non-null   int64
 12  target                         1025 non-null   int64
 13  sex_Female                     1025 non-null   uint8
 14  sex_Male                       1025 non-null   uint8
dtypes: float64(1), int64(12), uint8(2)
memory usage: 106.2 KB

In [9]:
one_hot_encoded_data.isnull().sum()

age                              0
chest_pain_type                  0
resting_blood_pressure           0
cholestoral                      0
fasting_blood_sugar              0
rest_ecg                         0
Max_heart_rate                   0
exercise_induced_angina          0
oldpeak                          0
slope                            0
vessels_colored_by_flourosopy    0
thalassemia                      0
target                           0
sex_Female                       0
sex_Male                         0
dtype: int64

In [10]:
one_hot_encoded_data.describe()

,age,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,target,sex_Female,sex_Male
count,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,2.171707,131.611707,246.00000,0.850732,1.485854,149.114146,0.336585,1.071512,0.614634,3.002927,1.331707,0.513171,0.304390,0.695610
std,9.072290,0.959013,17.516718,51.59251,0.356527,0.528527,23.005724,0.472772,1.175053,0.617755,1.293384,1.444014,0.500070,0.460373,0.460373
min,29.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,2.000000,120.000000,211.00000,1.000000,1.000000,132.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,2.000000,130.000000,240.00000,1.000000,2.000000,152.000000,0.000000,0.800000,1.000000,4.000000,0.000000,1.000000,0.000000,1.000000
75%,61.000000,3.000000,140.000000,275.00000,1.000000,2.000000,166.000000,1.000000,1.800000,1.000000,4.000000,3.000000,1.000000,1.000000,1.000000
max,77.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000,1.000000,1.000000

In [11]:
one_hot_encoded_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

In [12]:
X = one_hot_encoded_data.drop(columns='target', axis=1)
Y = one_hot_encoded_data['target']

In [13]:
print(X)

      age  chest_pain_type  resting_blood_pressure  cholestoral  \
0      52                3                     125          212
1      53                3                     140          203
2      70                3                     145          174
3      61                3                     148          203
4      62                3                     138          294
...   ...              ...                     ...          ...
1020   59                1                     140          221
1021   60                3                     125          258
1022   47                3                     110          275
1023   50                3                     110          254
1024   54                3                     120          188

      fasting_blood_sugar  rest_ecg  Max_heart_rate  exercise_induced_angina  \
0                       1         2             168                        0
1                       0         1             155                        1
2                       1         2             125                        1
3                       1         2             161                        0
4                       0         2             106                        0
...                   ...       ...             ...                      ...
1020                    1         2             164                        1
1021                    1         1             141                        1
1022                    1         1             118                        1
1023                    1         1             159                        0
1024                    1         2             113                        0

      oldpeak  slope  vessels_colored_by_flourosopy  thalassemia  sex_Female  \
0         1.0      0                              3            3           0
1         3.1      2                              4            3           0
2         2.6      2                              4            3           0
3         0.0      0                              1            3           0
4         1.9      1                              2            0           1
...       ...    ...                            ...          ...         ...
1020      0.0      0                              4            0           0
1021      2.8      1                              1            3           0
1022      1.0      1                              1            0           0
1023      0.0      0                              4            0           1
1024      1.4      1                              1            3           0

      sex_Male
0            1
1            1
2            1
3            1
4            0
...        ...
1020         1
1021         1
1022         1
1023         0
1024         1

[1025 rows x 14 columns]

In [14]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [16]:
print(X.shape, X_train.shape, X_test.shape)

(1025, 14) (820, 14) (205, 14)

In [17]:
model = LogisticRegression()

In [18]:
X_train

,age,chest_pain_type,resting_blood_pressure,cholestoral,fasting_blood_sugar,rest_ecg,Max_heart_rate,exercise_induced_angina,oldpeak,slope,vessels_colored_by_flourosopy,thalassemia,sex_Female,sex_Male
14,52,3,128,204,0,2,156,1,1.0,1,4,1,0,1
586,64,2,125,309,1,2,131,1,1.8,1,4,3,0,1
16,51,2,140,308,1,1,142,0,1.5,0,1,0,1,0
462,52,0,118,186,1,1,190,0,0.0,1,4,2,0,1
186,40,3,110,167,1,1,114,1,2.0,1,4,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,63,3,130,254,1,1,147,0,1.4,1,1,3,0,1
906,42,3,140,226,1,2,178,0,0.0,0,4,0,0,1
1002,66,3,112,212,1,1,132,1,0.1,0,1,0,0,1
966,58,3,128,259,1,1,130,1,3.0,1,3,3,0,1
191,56,1,130,221,1,1,163,0,0.0,0,4,3,0,1

In [19]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [20]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [21]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.85

In [22]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [23]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8

In [37]:
input_data = (56 	,1 ,	130 ,	221 ,	1 ,	1 ,	163 ,	0 	,0.0 ,	0, 	4 ,	3 ,	0 ,	1)

In [38]:
# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
print(input_data_reshaped)
prediction = model.predict(input_data_reshaped)

[[ 56.   1. 130. 221.   1.   1. 163.   0.   0.   0.   4.   3.   0.   1.]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [39]:

print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[1]
The Person has Heart Disease